@import 'src/style/partials/variables';


body {
  background: $background-color;
}

h1, p {
  color: $blue;
}

.main-page {
  height: 750px;
  .main-img {
    margin: auto;
  }
  img {
    max-width: 100%
  }
}

.nav {
  margin: 20px 0;
  li {
    font-size: 22px;
  }
}
